*.out
*.bin
*.o
*.elf
# don't track debug symbols
*.dSYM

# nim generates binaries with the same
# name as the source files
./src/instructions/instructions
./src/instructions/addis
./src/config
./src/isa/mnemonic_enums
./src/isa/bitpat_pairings
./src/isa/get_form
./src/isa/form_fields
./src/cpu/execute
./src/cpu/instruction_context
./src/cpu/decoder
./src/cpu/regtypes
./src/cpu/regfiles
./src/cpu/fetch
./src/nimulatorPPC
./src/utils/rawTerm
./src/membus/write
./src/membus/membus
./src/membus/memory_map
./src/membus/read
./src/membus/devices/ram
./src/core
./src/deprecated/test_ram