*.out
*.bin
*.o
*.elf

src/config
src/core
src/nimulatorPPC
src/test_ram

src/cpu/decoder
src/cpu/execute
src/cpu/fetch
src/cpu/instruction_context
src/cpu/regfiles
src/cpu/regtypes

src/isa/bitpat_pairings
src/isa/form_fields
src/isa/get_form
src/isa/mnemonic_enums

src/ram/ram
src/ram/read
src/ram/write