*.out
*.bin
*.o
*.elf

src/nimulatorPPC
src/core
src/memory
src/config
src/test_ram

src/cpu/decode
src/cpu/pipeline

src/isa/form_enums
src/isa/mnemonic_enums
src/isa/form_enums

src/ram/ram
src/ram/read
src/ram/write